.hero {
    background-image: url('../../assets/bank-tree.jpeg');
    background-position: 0 -50px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    position: relative;
}

.features {
    display: flex;
    flex-direction: column;
}

@media (min-width: 920px) {
    .hero {
        height: 400px;
        background-position: 0% 33%;
    }
    .features {
        flex-direction: row;
    }
}

@media (min-height: 900px) {
    .hero {
        height: 600px;
        background-position: 0% 33%;
    }
}

@media (min-height: 1100px) {
    .hero {
        height: 800px;
        background-position: 0% 33%;
    }
}
